<launch>
  <!-- Static transform -->
  <include file="$(find localization)/launch/static_tf.launch"/>
  <!-- GPS -->
  <include file="$(find nmea_navsat_driver)/launch/nmea_serial_driver.launch"/>
  <!-- IMU -->
  <include file="$(find microstrain_3dm_gx5_45)/launch/microstrain_25.launch"/>
  <!-- EKF -->
  <include file="$(find robot_localization)/launch/wam_v_ekf.launch"/>
  <!-- Navsat -->
  <include file="$(find robot_localization)/launch/wam_v_navsat.launch"/>
  <!-- Set waypoints server -->
  <include file="$(find localization)/launch/set_wps_server.launch"/>
  <!-- Visual -->
  <include file="$(find visualization)/launch/visual.launch"/>
</launch>
