<launch>
  <!-- GPS -->
  <include file="$(find vector_gps)/launch/gps.launch"/>
  <!-- IMU -->
  <include file="$(find microstrain_3dm_gx5_45)/launch/microstrain_25.launch"/>
  <!-- Heading remap -->
  <node pkg="localization" type="heading_remap.py" name="heading_remap_node" clear_params="true" output="screen"/>
</launch>
